<a class="btn btn-primary btn-xs" role="button" data-toggle="collapse" href="#viz-controls" aria-expanded="false" aria-controls="viz-controls">Toggle Controls</a>
<div id="viz-controls" class="collapse panel panel-default">
  <div class="panel-body">
    <div id="viz-editor"><%= @visualization.code %></div>
    <%= form_for(@visualization, url: visualization_path(@visualization), method: :patch) do |f| %>
      <textarea name="code"><%= @visualization.code %></textarea>
      <%= f.submit "Save & Run", class: "btn btn-primary" %>
    <%- end %>
  </div>
  <div class="panel-body">
    <p class="lead">What is this?</p>
    <p>Override the <code>generateHighCharts(jsonData, transformedData)</code> function above to return a valid HighCharts configuration object.</p>
  </div>
  <div class="panel-body">
    <p>Standard JSON (<code>jsonData</code>)</p>
    <pre id="json-data"><%= @json_data %></pre>
    <p>Transformed JSON (<code>transformedData</code>)</p>
    <pre id="json-data-transformed"></pre>
  </div>
  <div class="panel-footer">
    <%= link_to "HighCharts Docs", "http://api.highcharts.com/highcharts", target: "_blank" %>
  </div>
</div>
