<table class="table">
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Created On</th>
  </tr>
  
  <%- @saved_queries.each do |sq| %>
    <tr>
      <td>
        <h4><%= link_to sq.name, query_path(sq) %></h4>
        <span class="label label-info"><%= sq.privacy.capitalize %></span>
        <div class="clearfix" />
        <small><%= sq.database_connection.name %></small>
      </td>
      <td>
        <%= link_to sq.user.email, user_path(sq.user) %>
      </td>
      <td><%= time_ago_in_words(sq.created_at) %> ago</td>
    </tr>
  <%- end %>
</table>
