<h1>Query Results</h1>
<%= render "error_message" if @error %>
<%= render "form" %>
<%= render "save_form" if @result %>
<%= render "results_table", result: @result if @result %>
<%= render "debug" %>

