<div class="row">
  <h1><%= link_to @saved_query.name, query_path(@saved_query) %></h1>
</div>
<div class="row">
  <div class="pull-left">
    <small>Created <%= time_ago_in_words(@saved_query.created_at) %> ago by <%= link_to @saved_query.user.email, user_path(@saved_query.user) %>.</small>
    <div class="clearfix"></div>
    <small>Modified <%= time_ago_in_words(@saved_query.updated_at) %> ago.</small>
  </div>
  <div class="form-group form-inline pull-right">
    <%= render "settings" if policy(@saved_query).edit? %>
    <%= render "exports" %>
    Share: <input class="form-control" value="<%= query_url(@saved_query) %>" readonly />
  </div>
</div>
<div class="row">
  <%= render "error_message" if @error %>
  <%= render "form" %>
  <%- if ENV['SHOW_VIZ'] == 'true' %>
    <%= render "viz", result: @result if @result %>
  <%- end %>
  <%= render "results_table", result: @result if @result %>
  <%= render "debug" %>
</div>
