<div class="row">
  <ul class="nav nav-pills">
    <%- if logged_in? %>
    <li role="presentation"><%= link_to "Home", root_path %></li>
    <li role="presentation"><%= link_to "Databases", database_connection_index_path %></li>
    <li role="presentation"><%= link_to "Log Out", logout_path, method: :delete %></li>
    <%- else %>
    <li role="presentation"><%= link_to "Sign Up", signup_path %></li>
    <li role="presentation"><%= link_to "Log In", login_path %></li>
    <%- end %>
  </ul>
</div>
