<div class="row">
  <ul class="nav nav-pills">
    <li role="presentation"><%= link_to "Home", root_path %></li>
    <%- if logged_in? %>
      <li role="presentation"><%= link_to "Query clips", queries_path %></li>
      <li role="presentation"><%= link_to "Visualizations", visualizations_path %></li>
      <li role="presentation"><%= link_to "Databases", database_connection_index_path %></li>
      <li role="presentation"><%= link_to "Users", users_path %></li>
      <li role="presentation"><%= link_to "Log out #{current_user.email}", logout_path, method: :delete %></li>
    <%- else %>
      <%- unless signup_disallowed? %>
        <li role="presentation"><%= link_to "Sign Up", signup_path %></li>
      <%- end %>
      <li role="presentation"><%= link_to "Log In", login_path %></li>
    <%- end %>
  </ul>
</div>

